@import '@fontsource/roboto-mono';

:root {
	font-family: 'Roboto Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #171717;
	--secondary-color: #0a0a0a;
	--accent-color: #00eed8;
	--heading-color: #00bbaa;
	--aufbau-color: #feb74cee;
	--text-color: #f0f0f0;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 1rem;
	--border: solid 2px white;
}

body {
	min-height: 100vh;
	margin: 0;
	background: var(--primary-color);
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2 {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
	color: var(--heading-color);
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
